  /* navbar container */
  .navbar {
    overflow: hidden;
    background-color: rgb(68, 89, 162);
    font-family: Arial;
  }
  
  /* links in navbar */
  .navbar a {
    float: right;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 40px 40px;
    text-decoration: none;
  }
  
  /* dropdown container */
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  /* dropdown button */
  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 40px 40px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* navbar hoverstate */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(46, 63, 126);
  }
  
  /* dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1; /*makes dropdown go above everything*/
  }
  
  /* links in dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* dropdown button hoverstate */
  .dropdown-content a:hover {
    background-color: #8e8e8e;
  }
  
  /* show dropdown on hoverstate */
  .dropdown:hover .dropdown-content {
    display: block;
  }